<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!--  BUEFY  -->
    <!-- Buefy CSS -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <!-- Buefy JavaScript -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!--  FONTAWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
          crossorigin="anonymous">
    <!-- Axios -->
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>

    <script src="/statics/main.js"></script>

</head>
<body>
<div id="app">
    <b-navbar class="is-info">
        <template slot="brand">
            <b-navbar-item href="/">
                <i class="fas fa-graduation-cap">Cerca Treni</i>
            </b-navbar-item>
        </template>
    </b-navbar>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <b-field
                                label="Partenza"
                                label-position="on-border">
                            <b-input
                                    list="partenzaInput"
                                    v-model="partenzaName"
                                    placeholder="Seleziona la stazione di partenza"
                            >
                            </b-input>
                            <datalist id="partenzaInput">
                                <option v-for="s in suggerimentiPartenza" :value="s.id">
                                    #{ s.name }
                                </option>
                            </datalist>
                        </b-field>
                        <b-field
                                label="Arrivo"
                                label-position="on-border">
                            <b-input
                                    list="arrivoInput"
                                    v-model="arrivoName"
                                    placeholder="Seleziona la stazione di arrivo">
                            </b-input>
                            <datalist id="arrivoInput">
                                <option v-for="s in suggerimentiArrivo" :value="s.id">
                                    #{ s.name }
                                </option>
                            </datalist>
                        </b-field>
                        <b-field label="Select datetime">
                            <b-datetimepicker
                                    rounded
                                    placeholder="Seleziona data e ora"
                                    icon="calendar"
                                    icon-pack="fas"
                                    v-model="datetime">
                            </b-datetimepicker>
                        </b-field>
                        <b-field>
                            <b-button class="is-primary" @click="searchTrains()">Search</b-button>
                        </b-field>
                    </div>
                    <div class="columns">
                        <div class="panel">
                            <a class="panel-block" v-for="s in soluzioniTreni">
                                <ul>
                                    <li>
                                        <span class="has-text-weight-bold">Durata:</span>
                                        <span>#{ s.durata }</span>
                                    </li>
                                    <li v-for="v in s.vehicles">
                                        <ul>
                                            <li>
                                                <span class="panel-icon">
                                                    <i class="fas fa-train" aria-hidden="true"></i>
                                                </span>
                                                <span class="has-text-weight-bold">Treno Numero:</span>
                                                <span>#{v.numeroTreno}</span>
                                            </li>
                                            <li>
                                                <span class="has-text-weight-bold">Da:</span>
                                                <span>#{v.origine}</span>
                                                <span class="has-text-weight-bold">alle:</span>
                                                <span>#{v.orarioPartenza}</span>
                                            </li>
                                            <li>
                                                <span class="has-text-weight-bold">A:</span>
                                                <span>#{v.destinazione}</span>
                                                <span class="has-text-weight-bold">alle:</span>
                                                <span>#{v.orarioArrivo}</span>
                                            </li>
                                            <li>
                                                <span class="has-text-weight-bold">Categoria:</span>
                                                <span>(#{v.categoria})</span>
                                                <span>#{v.categoriaDescrizione}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>